$decorateZIndex: 15;
$logoZindex: 10;
$slideZIndex: 20;
$productZIndex: 25;


.Carrousel {
	position: relative;

	&__carrouselList {
		display: flex;
		overflow-x: scroll;

		margin-bottom: rem(20);

		border-radius: rem(20);
		gap: rem(10);


		scroll-snap-type: x mandatory;
		scroll-behavior: smooth;
  		scrollbar-width: none;
	}

	&__listWrapper {
		position: relative;
	}


	&__carrouselItem {
		position: relative;

		display: grid;

		background-color: red;
		scroll-snap-align: start;
		// justify-content: center;


		// min-width: 100%;
	}

	&__image {
		position: relative;
		z-index: $slideZIndex;

		border-radius: rem(10);
		object-fit: cover;

	}



	&__dotsList {
		display: inline-flex;

		align-items: center;
		column-gap: rem(10);
	}

	&__dotItem {
		width: rem(15);
		height: rem(15);
		
		transition:
			background-color $primaryTransition,
			width $primaryTransition,
			height $primaryTransition;

		border-radius: rem(15);

		background-color: #B5B5D8;
		
		&_active {
			width: rem(52);
			height: rem(13);

			

			background-color: #7A7BBA;
		}
	}

	&__navWrapper {
		position: relative;

		display: flex;
		justify-content: center;
	}

	
	&__buttonLeft, &__buttonRight {
		position: absolute;
		z-index: 1;
		top: 50%;

		transform: translateY(-50%);
	}

	@media (min-width: em($tablet)) {
		&__buttonLeft {
			left: rem(9);
		}
	
		&__buttonRight {
			right: rem(9);
		}
	}
	@media (max-width: em($tablet)) {
		&__buttonLeft {
			left: rem(0);
		}
	
		&__buttonRight {
			right: rem(0);
		}
	}

}
