/.phpunit.cache
/node_modules
/resources/main/node_modules

.env.backup
.env.production
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/vendor

/public/hot
/public/photos/uploads/room/*
/public/photos/uploads/facult/*.png
