.RoomsPage {
    padding-bottom: rem(20);

    &__title {
        

    }


    &__selectsGroup {
        display: flex;
        justify-content: center;

        gap: rem(10) rem(40);


        @include adaptiveValue("margin-bottom", 50, 15, 0, $widthTo: $smallMobile);

        @media (min-width: em($tablet)) {
            align-items: center;

        }

        @media (max-width: em($tablet)) {
            flex-direction: column;
        }
    }
}
