.FacultyItem {
    $p: &;

    &__link {
        display: flex;
        flex-direction: column;

        line-height: 1.7;
        row-gap: rem(14);
        &:hover {
            #{$p} {
                &__image {
                    transform: scale(1.1);
                }
            }
        }
    }

    &__image {
        transition: transform $primaryTransition;
    }

    &__slug {
        text-align: center;

        font-size: rem(14);
    }
}


.Skeleton {
}


.FacultySkeleton {
    
}
