.LoginPage {
   display: grid;
   place-items: center;

   height: 100%;

   &__container {
      position: relative;

      width: 100%;
   }
   &__title {
      position: absolute;
      bottom: calc(100% + rem(40));
      left: 50%;

      width: 100%;

      transform: translateX(-50%);

      text-align: center;
   }
}