.PrimaryButton {
   column-gap: rem(4);

   &__icon {
      width: 100%;
      height: 100%;
      max-height: rem(27);
      fill: $whiteColor;
   }

   &__loader {
      // flex: 0 0 
      color: $whiteColor;

      font-size: rem(6);
   }
}