.Page {
	display: flex;
	flex-direction: column;

	margin-bottom: rem(95);
	// margin-top: rem(10);	

	&__main {
		flex: 1 1 auto;

		height: 100%;

		padding-top: rem(50);
		// padding-bottom: rem(80);
	}

	&__header {
	}
}