.Option {
    position: relative;

    display: flex;
    align-items: center;

    box-sizing: content-box;
    padding: rem(15);

    cursor: pointer;
  
    color: $blueColor;

    font-weight: 300;

    &:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }
    &__bold {
      font-weight: 400;
    }

    &_active {
        background-color: rgba(0, 0, 0, 0.1);
    }
}
